/* anasayfa ile aynı olan ayarlar */

*{ 
  padding: 0; 
  margin: 0; 
  border: 0; 
}
body {
 font-family: Arial, sans-serif;  
}

header {
 width: auto;
 height: 65px;
 background-color: rgb(255,127,0);
 color: #fff;  
 /* text-align: center; */
 position: relative;
}
.siteadı{
 font-size: 20px;
 text-align: center;
 /* line-height: 60px; */
}
.nav-bar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 /* position: fixed; */
 top: 0;
 left: 0;
 width: 100%;
 /* background-color: #333; */
 padding: 0px;
 z-index: 1000;
}

.menu-toggle {
 font-size: 24px;
 cursor: pointer;
 display: none; /* Hamburger menüyü varsayılan olarak gizle */
}
.anasayfa{
 display: none;
}
.menü-container {
 width: inherit;
 display: flex;
 justify-content: flex-end;
 padding-top: 0px;
 padding-right: 5px;
 background-color: transparent;
 align-content: start;
 
}
/* .nav-menu{
 position: absolute;
} */
.nav-menu ul {
 list-style-type: none;
 margin: 0;
 padding: 0px;
 display: flex;
}

.nav-menu ul li {
 margin-right: 20px;
 overflow: hidden;
}

.nav-menu a {
 text-decoration: none;
 color: #fff;
 font-weight: bold;
 display: block;
 padding: 8px;
 text-align: center;
}

.nav-menu a:hover {
 background-color: rgba(255, 128, 0, 0.452);
}

.categories-menu {
 display: none; /* Bu satır eklenmiştir */
 position: fixed;
 top: 40px;
 left: 10px;
 background-color: rgb(255,127,0);
 color: #fff;
 padding: 10px;
 border-radius: 5px;
}

.categories-menu ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.categories-menu ul li {
 margin-bottom: 10px;
}


/* Ekran boyutu 750px'den küçükse .nav-menu'yu gizle */
/* Ekran boyutu 750px'den küçükse .nav-menu'yu gizle */
@media (max-width: 950px) {
 /* .nav-menu {
   display: none;
 } */
 .anasayfa{
   display: none;
 }
 .nav-menu{
   font-size: 15px;
 }
 .menü-container{
   justify-content: space-between;
 }
 .siteadı{
   font-size: 15px;
   text-align: center;
   /* line-height: 90px; */
 }
 header{
   width: auto;
   height: 65px;
 }
 /* .menu-toggle'ı yalnızca 750px'den küçük ekranlarda görünür yap */
 .menu-toggle {
   display: block;
 }

 .categories-menu {
   display: block;
 }
 .categories-menu2{
   display: none;
 }
}

/* Ekran boyutu 750px'den büyükse .nav-menu'yu göster, .categories-menu ve .menu-toggle'ı gizle */
@media (min-width: 951px) {
 /* .nav-menu {
   display: block;
 } */

 .menu-toggle,
 .categories-menu {
   display: none;
 }
 .categories-menu2 {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(255,127,0);
   padding: 0px;
   flex-direction: row;
 
 }
 
 .categories-menu2 h2 {
   display: none;
   color: #fff;
   margin: 0;
   padding: 0;
 }
 
 .categories-menu2 ul {
   list-style: none;
   padding: 10px;
   margin: 0;
   display: flex;
   text-align: center;
   font-size: 18px
 }
 
 .categories-menu2 ul li {
   position: relative;
 }
 .cizgi {
   border-left: 1px solid whitesmoke ;
 }
 
 .categories-menu2 ul li a {
   color: #fff;
   text-decoration: none;
   padding: 10px;
   display: block;
 }
 
 .categories-menu2 ul li ul {
   position: absolute;
   top: 100%;
   left: 0;
   display: none;
   background-color: rgb(255,127,0);
 }
 
 .categories-menu2 ul li:hover ul {
   display: flex;
   flex-direction: column;
 
 }
 
 .categories-menu2 ul li ul li {
   width: 100%;
 }
 
 .categories-menu2 ul li ul li a {
   padding: 5px;
   border-bottom: 1px solid whitesmoke;
 }
 
 
}
@media (max-width: 1200px) {
 .categories-menu2 ul{
   font-size: 15px
 }
}
@media (max-width: 1050px) {
 .categories-menu2 ul{
   font-size: 13px
 }
}
/* @media (max-width: 880px) {
 .categories-menu2 ul{
   font-size: 10px
 }
} */
/* Ekran boyutu 750px'den büyükse .nav-menu'yu göster, .categories-menu ve .menu-toggle'ı gizle */
@media (min-width: 951px) {
 .categories-menu {
   display: none !important;
 }

 .menu-toggle {
   display: none;
 }
}
/* Ekran boyutu 750px'den büyükse .nav-menu'yu göster, .categories-menu ve .menu-toggle'ı gizle */
@media (min-width: 951px) {
 .categories-menu {
   display: none !important;
 }

 .categories-menu ul {
   flex-direction: row;
 }

 .categories-menu ul li {
   margin-right: 10px;
 }

 .categories-menu ul ul {
   top: 100%;
   left: 0;
 }

 .categories-menu ul li:hover > ul {
   display: flex;
   flex-direction: column;
}

}
@media (max-width: 320px){
  .nav-menu{
    font-size: 13px;
  }
  .siteadı{
    font-size: 13px;
  }

}
footer {
  background-color: rgb(255,127,0);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
}


.footer-content {
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
padding: 20px;
}

.footer-section {
flex: 1;
margin: 10px;
}

.footer-section h2 {
margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
margin-bottom: 20px;
}

.footer-section li {
margin-bottom: 10px;
list-style: none;
}

.footer-section a {
color: #fff;
text-decoration: none;
}

.footer-section a:hover {
text-decoration: underline;
}

.footer-bottom {
background-color: rgb(255,127,0);
text-align: center;
padding: 20px 0;
}
/* Diğer stil tanımlamaları */
.categories-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.categories-menu ul li {
  position: relative;
}

.categories-menu ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.categories-menu ul li a:hover {
  background-color: rgba(255, 128, 0, 0.452);
}

.categories-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgb(255,127,0);
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.categories-menu ul li:hover > ul {
  display: block;
}

.categories-menu ul ul li {
  display: block;
  margin: 0;
}

.categories-menu ul ul li a {
  padding: 8px;
  margin: 0;
}

.categories-menu ul ul ul {
  top: 0;
  left: 100%;
}
.categories-menu ul li ul li a {
padding: 10px;
border-bottom: 1px solid whitesmoke;
}
.titlelogo {
  position: absolute;
  top: 0px;
  left: 5px;
}
.titlelogo img{
  width: 120px;
  height: 120px;
}
@media (max-width: 1400px){
  .titlelogo img{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1300px){
  .titlelogo img{
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1000px){

  .titlelogo {
  display: none;
  }
}
.logout-menu {
  position: absolute;
  top: 25px;
  right: 0;
  padding: 0;
}
/* Sepet içeriği */
/* Cart content styling */
.cart-content {
  background-color: #f9f9f9;
  padding: 20px;
}

/* Product box styling */
.product-box {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 8px; /* Border radius eklendi */
}

/* Product image styling */
.product-box img {
  width: 100px;
  margin-right: 10px;
}

/* Summary container styling */
.summary-container {
  margin-top: 20px;
  text-align: center; /* Ortala */
}

/* Total price and quantity styling */
#total-container, #quantity-container {
  margin-bottom: 15px; /* Boşluk ekledik */
}

/* Buy button styling */
#buy-button {
  background-color: rgb(255,127,0);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px; /* Boşluk ekledik */
  display: block; /* Blok olarak ayarladık */
  margin: 0 auto; /* Ortala */
  border-radius: 8px; /* Border radius eklendi */
}
#buy-button:hover{
  background-color: rgba(255, 128, 0, 0.452);
}

/* Spacing between text elements */
.product-box h3,
#total-container,
#quantity-container {
  margin-bottom: 10px;
}

/* Sepetim yazısı ve ürün sayısı span styling */
.cart-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-item-count {
  font-size: 18px;
  color: rgb(255,127,0); /* Yeşil renk eklendi */
  margin-left: 5px; /* Boşluk eklendi */
}
[id^="increase-button-"] {
  font-size: 15px;
  background-color: rgb(255,127,0);
}

[id^="decrease-button-"] {
  font-size: 15px;
  background-color: rgb(255,127,0);
}

[id^="remove-button-"] {
  font-size: 15px;
  background-color: rgb(255,127,0);
}


[id^="increase-button-"]:hover {
  background-color: rgba(255, 128, 0, 0.452);
  font-size: 15px;
}

[id^="decrease-button-"]:hover {
  background-color: rgba(255, 128, 0, 0.452);
  /* diğer stillendirme özellikleri */
}

[id^="remove-button-"]:hover {
  background-color: rgba(255, 128, 0, 0.452);
  /* diğer stillendirme özellikleri */
}


@media (max-width: 700px) {
  .product-box {
    flex-direction: column;
    align-items: center;
  }

  .product-box img {
    width: 200px;
    height: 200px;
    margin-right: 0;
    margin-bottom: 10px; /* İki ürün arasına boşluk eklemek için */
  }

  .summary-container {
    text-align: center;
  }
}
.siteadı{
  color: white;
  text-decoration: none;
}